<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Troy Amelotte</title>
<meta name="keywords" content="" />
<meta name="description" content="A Los Angeles based developer with a deep love for programming and people." />
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<script src="https://use.fontawesome.com/457a661da0.js"></script>
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<style media="screen">
.bigimg{
  width:auto;
  height:22em;
}
</style>

</head>
<body>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon-cogs"></span>
				<h1><a href="#">Troy Amelotte</a></h1>
				<h3>Lets make something awesome</h3>
				<span></span> </div>
			<div id="menu">
				<ul>
					<li><a href="/" accesskey="1" title="">Home</a></li>
					<li><a href="/about_me" accesskey="2" title="">About Me</a></li>
					<li><a href="/portfolio" accesskey="3" title="">Portfolio</a></li>
					<li class="current_page_item"><a href="/contact" accesskey="4" title="">Contact Me</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper2">
		<div id="welcome" class="container">
			<div class="title">
				<h2>Contact Me</h2>
			</div>
      <h2>I'm currently open to all offers with an exciting project and fun people!</h2>
      <h2>Email: Troyamelotte@gmail.com</h2>
      <h2>Phone: 818-726-9593</h2>
      <p>If you would like to talk to me over the phone please email/text me first so we can set up a time.</p>
    </div>
	</div>

</div>

<div id="copyright" class="container">
	<p>Built with Node.js | prebuilt css by <a href="http://templated.co" rel="nofollow">templated</a>.</p>
</div>
</body>
</html>
