<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Troy Amelotte</title>
<meta name="keywords" content="" />
<meta name="description" content="A Los Angeles based developer with a deep love for programming and people." />
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<script src="https://use.fontawesome.com/457a661da0.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<style media="screen">
  i{
    font-size:5rem;
  }
  .section{
    display: inline-block;
    margin: 0em 3em;
  }
  .company{
    width:8em;
    height:8em;
    border-radius: 2em;
  }
  .companyname{
    margin-bottom: .8em;
  }
  .companydesc{
    margin-bottom: 0;
  }
  .button{
    margin:0.3em;
  }
  .contactme{
    display: block;
    color:gray;
    margin-top: 2em;
  }
  .button-small{
    margin-top: 20%;
  }
</style>

</head>
<body>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon-cogs"></span>
				<h1><a href="#">Troy Amelotte</a></h1>
				<h3>Lets make something awesome</h3>
				<span></span> </div>
			<div id="menu">
				<ul>
					<li><a href="/" accesskey="1" title="">Home</a></li>
					<li><a href="/about_me" accesskey="2" title="">About Me</a></li>
					<li class="current_page_item"><a href="/portfolio" accesskey="3" title="">Portfolio</a></li>
					<li><a href="/contact" accesskey="4" title="">Contact Me</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper2">
		<div id="welcome" class="container">
			<div class="title">
				<h2>Technologies</h2>
        <h3>Some of the stuff I've worked with.</h3>
			</div>
      <div class="section">
        <i class="devicon-javascript-plain"></i>
        <p>Javascript</p>
      </div>
      <div class="section">
        <i class="devicon-angularjs-plain"></i>
        <p>Angular JS</p>
      </div>
      <div class="section">
        <i class="devicon-nodejs-plain"></i>
        <p>Node JS</p>
      </div>
      <div class="section">
        <i class="devicon-react-original"></i>
        <p>React</p>
      </div>

      <div class="section">
        <i class="devicon-mongodb-plain"></i>
        <p>MongoDB</p>
      </div>
      <div class="section">
        <i class="devicon-csharp-plain"></i>
        <p>C Sharp</p>
      </div>
      <div class="section">
        <i class="devicon-dot-net-plain"></i>
        <p>dot-net</p>
      </div>
      <div class="section">
        <i class="devicon-ruby-plain"></i>
        <p>Ruby</p>
      </div>
      <div class="section">
        <i class="devicon-rails-plain"></i>
        <p>Rails</p>
      </div>
      <div class="section">
        <i class="devicon-postgresql-plain"></i>
        <p>postgresql</p>
      </div>
      <div class="section">
        <i class="devicon-python-plain"></i>
        <p>Python</p>
      </div>
      <div class="section">
        <i class="devicon-django-plain"></i>
        <p>Django</p>
      </div>
      <div class="section">
        <i class="devicon-mysql-plain"></i>
        <p>mySQL</p>
      </div>
      <div class="section">
        <i class="devicon-php-plain"></i>
        <p>php</p>
      </div>
      <div class="section">
        <i class="devicon-codeigniter-plain"></i>
        <p>Code Igniter</p>
      </div>
      <div class="section">
        <i class="devicon-html5-plain"></i>
        <p>html</p>
      </div>
      <div class="section">
        <i class="devicon-css3-plain"></i>
        <p>css</p>
      </div>
      <div class="section">
        <i class="devicon-linux-plain"></i>
        <p>linux</p>
      </div>
      <div class="section">
        <i class="devicon-java-plain"></i>
        <p>java</p>
      </div>
      <div class="section">
        <i class="devicon-amazonwebservices-original"></i>
        <p>aws</p>
      </div>
      <h3>and more...</h3>

		</div>
	</div>
  <div id="wrapper3">
    <div id="portfolio" class="container">
      <div class="title">
        <h2>Professional Experience</h2>
        <span class="byline">Stuff I've worked on</span> </div>
      <div class="column1">
        <div class="box">
          <h2 class="companyname">Coding Dojo</h2>
          <img class="company"src="https://pbs.twimg.com/profile_images/775416954584608768/OUnpD7x_.jpg" alt="">
          <p class="companydesc">Led classes in multiple technology stacks including MEAN, Ruby on Rails, and Python/Django. Helped write and develop the company curriculum for the mean and C#/.net stacks.</p>
          <a href="http://www.codingdojo.com/" class="button button-small">CodingDojo Website</a> </div>
      </div>
      <div class="column2">
        <div class="box">
          <h2 class="companyname">StayFYT</h2>
          <img class="company" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/13082565_1072561546115245_355748319646375209_n.jpg?oh=9b01883dd318d73a352dc1b813ef03e8&oe=5928E94F" alt="">
          <p class="companydesc">Developed the website in Ruby on Rails with Angular JS, Helped manage the development team and interviewed new hires, Worked on the mobile app in React Native.</p>
          <a href="#" class="button button-small">(website in closed beta)</a> </div>
      </div>
      <div class="column3">
        <div class="box">
          <h2 class="companyname">HazeCraft Server Network</h2>
          <img class="company" src="http://i.imgur.com/Wt1VGXi.png" alt="">
          <p class="companydesc">Developed in game features in java and developed front end site features in javascript, Scaled server to fit player needs, Hosted over 300,000 players since release.</p>
          <a href="http://hazecraft.net/" class="button button-small">Hazecraft Website</a> </div>
      </div>
      <div class="column4">
        <div class="box">
          <h2 class="companyname">U and I</h2>
          <img class="company" src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/notebook2.png" alt="">
          <p class="companydesc">Worked with the team to develop a full unique social media from scratch. Built with the MEAN stack. Was responsible for building the api and working wiht angular on the frontend.</p>
          <a href="https://github.com/amirsedghi/meanProject" class="button button-small">Github</a> </div>
      </div>
      <a class="button button-small" style="margin-top:5%; margin-left:39%;"href="https://docs.google.com/document/d/1itliE33fXa4lTI7wo7H9pyauwPyev-Yg_nybeF4Lq7A/edit?usp=sharing">Check out my full resume!</a>
    </div>
  </div>
  </div>
</div>
<div id="footer" class="container">
	<div class="title">
		<h2>Interested in talking?</h2>
		<span class="byline">Lets make something together.</span>
    <a class="contactme" href="/contact"><span class="byline">Contact Me</span></a>

  </div>

</div>
<div id="copyright" class="container">
	<p>Built with Node.js | prebuilt css by <a href="http://templated.co" rel="nofollow">templated</a>.</p>
</div>
</body>
</html>
